# CIA World Factbook

A compendium of statistics about all of the countries on Earth. The Factbook contains demographic information like the following:

- `population` — the global population.

- `population_growth` — the annual population growth rate, as a percentage.

- `area` — the total land and water area.

In [1]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cat  %cd  %clear  %colors  %conda  %config  %connect_info  %cp  %debug  %dhist  %dirs  %doctest_mode  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %lf  %lk  %ll  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %lx  %macro  %magic  %man  %matplotlib  %mkdir  %more  %mv  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %rep  %rerun  %reset  %reset_selective  %rm  %rmdir  %run  %save  %sc  %set_env  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

In [2]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

## 3. Overview of the Data

In [3]:
%%sql

SELECT *
  FROM sqlite_master 
WHERE type='table';

 * sqlite:///factbook.db
Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)')]

In [4]:
%%sql

SELECT *
    FROM facts
LIMIT 5;

 * sqlite:///factbook.db
Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

### Missing values:

In [ ]:
%%sql

SELECT COUNT(*),
        COUNT(code),
        COUNT(area),
        COUNT(area_land),
        COUNT(area_water),
        COUNT(population),
        COUNT(population_growth),
        COUNT(birth_rate),
        COUNT(death_rate),
        COUNT(migration_rate)
    FROM facts;

## 4. Summary Statistics

Write a single query that returns the following:

In [ ]:
%%sql

SELECT  MIN(population), MAX(population), MIN(population_growth), MAX(population_growth)
    FROM facts

### 5. Exploring Outliers

In [ ]:
%%sql 

SELECT name, population
    FROM facts
    WHERE population = (SELECT MIN(population)
                       FROM facts)
    ORDER BY population DESC;

In [ ]:
%%sql 

SELECT name, population
    FROM facts
    WHERE population = (SELECT MAX(population)
                       FROM facts)
    ORDER BY population DESC;

In [ ]:
%%sql

SELECT  MIN(population), MAX(population), MIN(population_growth), MAX(population_growth)
    FROM facts
    WHERE population < (SELECT MAX(population)
                       FROM facts)

In [ ]:
%%sql

SELECT  MIN(population), MAX(population), MIN(population_growth), MAX(population_growth)
    FROM facts
    WHERE (population < (SELECT MAX(population)
                       FROM facts))
        AND (population_growth < (SELECT MAX(population_growth)
                       FROM facts));

In [ ]:
%%sql

SELECT  AVG(population), AVG(area)
    FROM facts
    WHERE (population < (SELECT MAX(population)
                       FROM facts));

## 7. Finding Densely Populated Countries

In [ ]:
%%sql

SELECT name, population
    FROM facts
        WHERE population > (SELECT AVG(population) FROM facts)
        AND area < (SELECT AVG(area) FROM facts)
        ORDER BY population DESC;