

<img src="png/sqlite_jupyter_python.png" alt="drawing" width="700"/>

<br>

<br>


### The aim of the project

The project primarily centers on four key aspects. :


- **Configuring Interconnection with Local Database in JupyterLab**:
  - Establishing the connection between JupyterLab and the local SQLITE database.
  - Setting up the necessary configurations within JupyterLab to access and query the local database seamlessly.

- **Utilization of Local SQLITE Database**:
  - Involves using the local SQLITE database system.
  - Offers efficient data storage and retrieval capabilities.

- **Query Execution in JupyterLab**:
  - Running queries within the JupyterLab environment.
  - JupyterLab serves as an interactive platform for code execution and data analysis.

- **Presentation of Query Results**:
  - Displaying query results with detailed explanations.
  - Aiming to ensure a clear understanding of the data obtained.

- **Data Visualization Using Python Libraries**:
  - Leveraging Python's available function libraries for potential data visualization needs.
  - Creating graphical representations, if required, to enhance data comprehension and presentation.
   
<br>

`conda install anaconda::sqlite`

The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    sqlite-3.39.3              |       h5082296_0         1.5 MB  anaconda
    ------------------------------------------------------------
                                           Total:         1.5 MB
Proceed ([y]/n)? y

Downloading and Extracting Packages:

Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [1]:
import sqlite3
import pandas as pd

# Conectar a la base de datos SQLite
conn = sqlite3.connect('ksprojects.db')  # Reemplaza 'ruta_de_tu_base_de_datos.db' con la ruta hacia tu base de datos

In [2]:
%%html 
<style>
table {float:left}
</style>

<img src="png/Kickstarter_logo.png" alt="drawing" width="700"/>


As a data analyst at a startup, the product team is considering launching a campaign on [Kickstarter](https://www.kickstarter.com/) to test the viability of some offerings. 

You've been asked to pull data that will help the team understand what might influence the success of a campaign. The data source is a selection of fields from Kaggle.

<br>

#### Specifically, we'll answer the following questions:


- What types of projects are most likely to be successful?

- Which projects fail?

<br>

To get you started, here are the definitions of the columns in this data:

|||
|:--|:--|
|**ID**: |Kickstarter project ID|
|**name**: |Name of project|
|**category**: |Category of project|
|**main_category**: |Main category of project|
|**goal**: |Fundraising goal|
|**pledged**: |Amount pledged|
|**state**: |State of project (successful, canceled, etc.)|
|**backers**: |Number of project backers|
|The first step to working with a database is to know what data is actually in it.|  |
|||

<br>

This database consists of one table, `ksprojects`.

List the names and data types for each table in the database.

### 3. Create a cursor and run queries: 


After establishing a connection, it creates a cursor to perform operations on the database.

In [3]:
# Crear un cursor
cursor = conn.cursor()

# Ejecutar una consulta
cursor.execute("SELECT * FROM ksprojects LIMIT 3")

# Obtener los resultados de la consulta
results = cursor.fetchall()

# Mostrar los resultados
print(results)

[(1000002330, 'The Songs of Adelaide & Abullah', 'Poetry', 'Publishing', 1000.0, 0.0, 'failed', 0), (1000003930, 'Greeting From Earth: ZGAC Arts Capsule For ET', 'Narrative Film', 'Film & Video', 30000.0, 2421.0, 'failed', 15), (1000004038, 'Where is Hank?', 'Narrative Film', 'Film & Video', 45000.0, 220.0, 'failed', 3)]

Due to the nature of databases, it is not possible to display the name of the columns and the result of the request. 

Therefore, it is necessary to make use of some function that allows us to visualize this information in a comfortable way.

The following function discriminates between a query with a * that is basically intended to show the name of all the columns of a query, let's say normal, in which all the columns may not be present

In [ ]:
# PRAGMA

txt = "PRAGMA table_info(ksprojects)"
lista = list()

cursor = conn.cursor()
cursor.execute(txt)
results = cursor.fetchall()

for i in results:
    lista.append(i)

t_1 = lista[0]

for names in range(0,len(lista)):
    print(lista[names][1])

In [ ]:
# SELECT

txt = "PRAGMA table_info(ksprojects)"

lista = list()

cursor = conn.cursor()
cursor.execute(txt)
results = cursor.fetchall()

for i in results:
    lista.append(i)

t_1 = lista[0]

offset_SELECT = 6
start = txt.find('SELECT')
end = txt.find("FROM")
columns_names = txt[start + offset_SELECT:end]
columns_names = columns_names.replace(",", " ")
print(columns_names)
    
for names in range(0,len(lista)):
    print(lista[names])

In [4]:
#txt = "PRAGMA table_info(ksprojects)"
#txt = "SELECT * FROM ksprojects LIMIT 3"
#txt = "SELECT main_category, goal, backers, pledged FROM  ksprojects \LIMIT 10 "

def query(txt):
    lista = list()

    if 'PRAGMA' in txt:
        cursor = conn.cursor()
        cursor.execute(txt)
        results = cursor.fetchall()

        for i in results:
            lista.append(i)

        t_1 = lista[0]

        for names in range(0,len(lista)):
            print(lista[names][1])

    elif 'SELECT' in txt and '*' not in txt:
        cursor = conn.cursor()
        cursor.execute(txt)
        results = cursor.fetchall()

        for i in results:
            lista.append(i)

        t_1 = lista[0]

        offset_SELECT = 6
        start = txt.find('SELECT')
        end = txt.find("FROM")
        columns_names = txt[start + offset_SELECT:end]
        columns_names = columns_names.replace(",", " ")

        print(columns_names)

        for names in range(0,len(lista)):
            print(lista[names])

    elif '*' in txt:
        pragma = 'PRAGMA table_info(ksprojects)' # make the database name done by parameters...
        cursor = conn.cursor()
        cursor.execute(pragma)
        result = cursor.fetchall()

        salida = list()
        listo = list()
        for a in result:
            listo.append(a)

        for nam in range(0,len(listo)):
            salida.append(listo[nam][1])

        print(salida)

        cursor = conn.cursor()
        cursor.execute(txt)
        results = cursor.fetchall()

        for i in results:
            lista.append(i)

        t_1 = lista[0]
        for names in range(0,len(lista)):
            print(lista[names])

In [ ]:
txt="SELECT * FROM  ksprojects \
LIMIT 5"

#txt = "PRAGMA table_info(ksprojects)"
#txt = "SELECT main_category, goal, backers, pledged FROM  ksprojects \ LIMIT 10 "

lista = list()

if 'PRAGMA' in txt: # significa que quiero mostrar las columnas de la base de datos
    lista = list()

    cursor = conn.cursor()
    cursor.execute(txt)
    results = cursor.fetchall()

    for i in results:
        lista.append(i)

    t_1 = lista[0]

    for names in range(0,len(lista)):
        print(lista[names][1])
        
elif '*' in txt: # significa que quiero mostrar las columnas de la base de datos
    pass


elif 'SELECT' in txt:
    cursor = conn.cursor()
    cursor.execute(txt)
    results = cursor.fetchall()

    for i in results:
        lista.append(i)

    t_1 = lista[0]

    offset_SELECT = 6
    start = txt.find('SELECT')
    end = txt.find("FROM")
    columns_names = txt[start + offset_SELECT:end]
    columns_names = columns_names.replace(",", " ")
    print(columns_names)

    for names in range(0,len(lista)):
        print(lista[names])

In [ ]:
#txt="SELECT * FROM  ksprojects \ LIMIT 10"
txt = "PRAGMA table_info(ksprojects)"
#txt = "SELECT main_category, goal, backers, pledged FROM  ksprojects \ LIMIT 10 "

lista = list()
listo = list()

if 'PRAGMA' or '*' in txt: # significa que quiero mostrar las columnas de la base de datos
    cursor = conn.cursor()
    cursor.execute(txt)
    results = cursor.fetchall()

    for i in results:
        lista.append(i)

    t_1 = lista[0]

    for names in range(0,len(lista)):
        print(lista[names][1])
        
elif '*' in txt: # significa que quiero mostrar las columnas de la base de datos
    offset_SELECT = 6
    start = txt.find('SELECT')
    end = txt.find("FROM")
    columns_names = txt[start + offset_SELECT:end]
    columns_names = columns_names.replace(",", " ")
    print(columns_names)

### What does our database look like?

In [5]:
query("PRAGMA table_info(ksprojects)")

ID
name
category
main_category
goal
pledged
state
backers

### What the first 10 lines look like, just to get an idea of the content.

In [6]:
query("SELECT * \
         FROM ksprojects \
        LIMIT 10")

['ID', 'name', 'category', 'main_category', 'goal', 'pledged', 'state', 'backers']
(1000002330, 'The Songs of Adelaide & Abullah', 'Poetry', 'Publishing', 1000.0, 0.0, 'failed', 0)
(1000003930, 'Greeting From Earth: ZGAC Arts Capsule For ET', 'Narrative Film', 'Film & Video', 30000.0, 2421.0, 'failed', 15)
(1000004038, 'Where is Hank?', 'Narrative Film', 'Film & Video', 45000.0, 220.0, 'failed', 3)
(1000007540, 'ToshiCapital Rekordz Needs Help to Complete Album', 'Music', 'Music', 5000.0, 1.0, 'failed', 1)
(1000011046, 'Community Film Project: The Art of Neighborhood Filmmaking', 'Film & Video', 'Film & Video', 19500.0, 1283.0, 'canceled', 14)
(1000014025, 'Monarch Espresso Bar', 'Restaurants', 'Food', 50000.0, 52375.0, 'successful', 224)
(1000023410, 'Support Solar Roasted Coffee & Green Energy!  SolarCoffee.co', 'Food', 'Food', 1000.0, 1205.0, 'successful', 16)
(1000030581, 'Chaser Strips. Our Strips make Shots their B*tch!', 'Drinks', 'Food', 25000.0, 453.0, 'failed', 40)
(1000034518, 'SPIN - Premium Retractable In-Ear Headphones with Mic', 'Product Design', 'Design', 125000.0, 8233.0, 'canceled', 58)
(100004195, 'STUDIO IN THE SKY - A Documentary Feature Film (Canceled)', 'Documentary', 'Film & Video', 65000.0, 6240.57, 'canceled', 43)

### Columns and row selection:

<br>

To start, even a database with one table likely contains data that's not necessary to our analysis. In this step, we'll specify which columns to read from the table.

- Pull the relevant columns from the `ksprojects` table that will allow us to assess a project's result based on its `main category`, amount of money set as a `goal`, number of `backers`, and amount of money `pledged`. 

- Return just the first 10 rows.

In [7]:
query("SELECT main_category, goal, backers, pledged \
        FROM  ksprojects \
        LIMIT 10")

 main_category  goal  backers  pledged
('Publishing', 1000.0, 0, 0.0)
('Film & Video', 30000.0, 15, 2421.0)
('Film & Video', 45000.0, 3, 220.0)
('Music', 5000.0, 1, 1.0)
('Film & Video', 19500.0, 14, 1283.0)
('Food', 50000.0, 224, 52375.0)
('Food', 1000.0, 16, 1205.0)
('Food', 25000.0, 40, 453.0)
('Design', 125000.0, 58, 8233.0)
('Film & Video', 65000.0, 43, 6240.57)

### Filtering by Category:

<br>

Now that you've selected the relevant columns, we'll filter the data to include only those in certain categories.

- Repeat your query from the previous screen, but this time only keep the records where the project state is either `'failed'`, `'canceled'`, or `'suspended'`.

- Return just the first 10 rows.

In [8]:
query("SELECT main_category, goal, backers, pledged \
        FROM  ksprojects \
        WHERE state = 'failed' OR state = 'canceled' OR state = 'suspended' \
        LIMIT 10;")

 main_category  goal  backers  pledged
('Publishing', 1000.0, 0, 0.0)
('Film & Video', 30000.0, 15, 2421.0)
('Film & Video', 45000.0, 3, 220.0)
('Music', 5000.0, 1, 1.0)
('Film & Video', 19500.0, 14, 1283.0)
('Food', 25000.0, 40, 453.0)
('Design', 125000.0, 58, 8233.0)
('Film & Video', 65000.0, 43, 6240.57)
('Publishing', 2500.0, 0, 0.0)
('Crafts', 5000.0, 0, 0.0)

### Filtering by Quantity

We'll only want to look at projects of a certain size. 

This is because there are a lot of small projects in the database that aren't relevant to our analysis. Now that we've filtered our records to meet certain categories, let's also filter them to meet given quantities, too.

- Pull the relevant columns from the `ksprojects` table that will allow us to assess a project's result based on its `main category`, amount of money set as a `goal`, number of `backers`, and amount of money `pledged`. 

- Return just the first 10 rows.

In [9]:
query("SELECT main_category, backers, pledged, goal \
         FROM ksprojects \
        WHERE state IN ('failed', 'canceled', 'suspended') AND backers >=100 AND pledged > 20000 \
        LIMIT 10;")

 main_category  backers  pledged  goal
('Technology', 120, 90771.0, 250000.0)
('Design', 647, 39693.0, 25000.0)
('Technology', 103, 61416.0, 5000.0)
('Art', 257, 50230.0, 100000.0)
('Film & Video', 135, 23098.0, 150000.0)
('Film & Video', 189, 20677.0, 50000.0)
('Film & Video', 118, 25877.0, 100000.0)
('Technology', 108, 45687.01, 60000.0)
('Technology', 209, 33916.0, 50000.0)
('Technology', 310, 85017.0, 96485.0)

### Ordering Results

<br>

In addition to selecting the relevant columns and filtering the relevant rows, sorting your results can be quite valuable in making sense of the data. In this case, the product team would like to view projects by categories, along with the percentage of the goal that was funded.


- Main category sorted in ascending order.

- A **calculated field** `called pct_pledged`, which divides `pledged` by `goal`. Sort this field in **descending order**.

- Now, modify your query so that only projects in a failed state are returned.

In [10]:
query("SELECT main_category, backers, pledged, goal, pledged/goal AS pct_pledged \
        FROM  ksprojects \
        WHERE state IN ('failed') AND backers >= 100 AND pledged >= 20000 \
        ORDER BY main_category ASC, pct_pledged  DESC \
        LIMIT 10;")

 main_category  backers  pledged  goal  pledged/goal AS pct_pledged
('Art', 315, 49191.0, 50000.0, 0.98382)
('Art', 294, 52565.25, 60000.0, 0.8760875)
('Art', 172, 21310.0, 25000.0, 0.8524)
('Art', 185, 27630.24, 35000.0, 0.7894354285714286)
('Art', 552, 37621.97, 50000.0, 0.7524394)
('Art', 159, 31657.0, 45000.0, 0.7034888888888889)
('Art', 336, 33485.0, 52000.0, 0.6439423076923076)
('Art', 130, 20374.99, 35000.0, 0.5821425714285715)
('Art', 133, 54387.0, 100000.0, 0.54387)
('Art', 136, 39206.49, 77777.0, 0.5040884837419802)

### Applying Conditional Logic

<br>

It can often be helpful to make sense of a set of records by grouping them into categories based on some condition, which in SQL can be done with CASE statements.

While it's interesting to view the results of failed projects by metrics like the number of backers, what really makes or breaks a Kickstarter project is whether it meets its pledge goal.


Create a field `funding_status` that applies the following logic based on the percentage of amount pledged to campaign goal:

- If the percentage pledged is greater than or equal to 1, then the project is "Fully funded."
- If the percentage pledged is between 75% and 100%, then the project is "Nearly funded."
- If the percentage pledged is less than 75%, then the project is "Not nearly funded."

In [11]:
query("SELECT main_category, backers, pledged, goal, pledged / goal AS pct_pledged \
         FROM ksprojects \
        WHERE state IN ('failed') AND backers >= 100 AND pledged >= 20000 \
        ORDER BY main_category, pct_pledged DESC \
        LIMIT 10;")

 main_category  backers  pledged  goal  pledged / goal AS pct_pledged
('Art', 315, 49191.0, 50000.0, 0.98382)
('Art', 294, 52565.25, 60000.0, 0.8760875)
('Art', 172, 21310.0, 25000.0, 0.8524)
('Art', 185, 27630.24, 35000.0, 0.7894354285714286)
('Art', 552, 37621.97, 50000.0, 0.7524394)
('Art', 159, 31657.0, 45000.0, 0.7034888888888889)
('Art', 336, 33485.0, 52000.0, 0.6439423076923076)
('Art', 130, 20374.99, 35000.0, 0.5821425714285715)
('Art', 133, 54387.0, 100000.0, 0.54387)
('Art', 136, 39206.49, 77777.0, 0.5040884837419802)